img {
    border-radius: 25%;
    padding: 20px;
}

.mngmnt-btns {
    background-color: orange;
}


.like-btn{
    border-radius: 25%;
    padding: 5px;
}
.likes {
    border-radius: 25%;
    padding: 5px;
}
.delete-btn {
    border-radius: 25%;
    padding: 5px;
}

.div {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 900px;
}

.App {
    background-color: bisque;
}

.App-header {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}
.banner-header {
    background-image: linear-gradient(to right, indianred, orange, yellow, bisque)
}

